@keyframes rainbow {
    0% {
     background-position: 1% 80%;
    }
    50% {
     background-position: 99% 20%;
    }
    100% {
     background-position: 1% 80%;
    }
}

.burger{
    color: white !important;
}
/* .burger:hover{
    color: white !important;
    animation: rainbow 10s infinite;
    background-image: linear-gradient(124deg,rgb(208, 255, 0),pink,yellow,orange) !important;
    background-size: 1600% 1600%;
} */

.services-list__item>a{
    border-radius: 1rem;
}

.services-list__group-name{
    border-radius: 0px !important;
}

.services-list__item>a>span{
    text-shadow: none !important;
}